@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*
{
    margin: 0;
    padding: 0;
    font-family: 'NeueMachina';

}
.loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    background: #fff;
    flex-direction: column;
    align-content: center;
}
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ellipsis div {
position: absolute;
top: 33px;
width: 13px;
height: 13px;
border-radius: 50%;
background: rgb(0, 0, 0);
animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
left: 8px;
animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
left: 8px;
animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
left: 32px;
animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
left: 56px;
animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
0% {
    transform: scale(0);
}
100% {
    transform: scale(1);
}
}
@keyframes lds-ellipsis3 {
0% {
    transform: scale(1);
}
100% {
    transform: scale(0);
}
}
@keyframes lds-ellipsis2 {
0% {
    transform: translate(0, 0);
}
100% {
    transform: translate(24px, 0);
}
}
*
{
    margin: 0;
    padding: 0;
    font-family: 'NeueMachina';
    font-size: 18px;
}
.load_text {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to { 
        transform: rotate(360deg);
    }
  }
  
  
  @-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to { 
        -webkit-transform: rotate(360deg);
    }
  }
.load {
    width: 20px;
    height: 20px;
    border: solid 2px #000000;
    border-radius: 50%;
    border-right-color: transparent;
    border-bottom-color: transparent;
    -webkit-transition: all 0.5s ease-in;
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 1.0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    transition: all 0.5s ease-in;
    animation-name: rotate;
    animation-duration: 1.0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin: 10px;
}
.bg-modal1 {
	background-color: rgb(0 0 0 / 19%);
    position: fixed;
    bottom: 2%;
    left: 1%;
    display: block;
    z-index: 99999;
    padding: 20px;
    border-radius: 10px;
    max-width: 350px;
}
.bg-modal1 .modal-contents1 {
    position: relative;
    background-color: rgb(255 255 255);
    border-radius: 20px;
    padding: 20px;
}
.displaylink::-webkit-scrollbar {
    display: none;
}
h4 {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
}
h6 {
    display: block;
    font-size: 0.67em;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.in-chara1{
    display: none;
    position: absolute;
    background: #000;
    color: white;
    border-top: 2px solid #e5e5e5;
    border-bottom: 4px solid #e5e5e5;
    border-right: 2px solid #e5e5e5;
    border-left: 2px solid #e5e5e5;
    border-radius: 10px;
    height: 18px;
    text-align: center;
    padding: 10px;
    z-index: 1;
    transform: translateY(-55px);
    right: 0%;
}
.in-chara1::after{
    border-top: 12px solid #000000;
    border-right: 8px solid #ffffff00;
    border-left: 8px solid #ffffff00;
    position: absolute;
    content: '';
    bottom: -16px;
}
@media (max-width: 550px) {
    .bg-modal1 {
        max-width: 70%;
    }
}